body {
    padding-top: 70px;
    padding-bottom: 20px;
}

.panel-default{
	margin-bottom: 2px;
}

.btn-primary
{
	color:#ddd;
}
.btn-warning
{
	color:#ddd;
}
.btn-danger
{
	color:#ddd;
}
.btn-success
{
	color:#ddd;
}
.btn-info
{
	color:#ddd;
}

.panel-default
{
	background-color: lightgrey;
}

.panel{
	background-color: #aaa;
}

.panel active{
	background-color:white;
}

.activeCharacterBlock
{
	background-color: #ddd;
}
.activeCharacterBlock.active
{
	background-color: white;
}

.characterImage {
    display: block;
    width: 48px;
    height: 48x;
    margin: 0;
}

